/* CSS For Album Pages */


section {
    background-color:#153956;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
}

img {
    width: 400px;
    grid-column: 1/2;
    margin: 1em 1em 1em 1em;
    border: #EBCA68 solid 2px;
}

#artwork1 {
    grid-row: 1/2;
}
#artwork2 {
    grid-row: 2/3;
}

div {
    grid-column: 2/3;
    grid-row: 1/3;
}

div h2 {
    font-size: 3em;
    color: #EBCA68;
    /* text-shadow: 2px 2px 1px #EBCA68; */
}

div ol, ul, p {
    color: #EBE7D7;
}