/* Font Imports from the fonts folder */

@font-face {
  font-family: 'Makimango';
  src: url(fonts/MAKIMANG.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Computer Modern';
  src: url(fonts/computer_modern.woff2);
  font-display: fallback;
}

/* CSS For All Pages */

body {
  margin:0px;
  padding: 0px;
}

h1, h2, h3, h4, header a {
  font-family: 'Makimango';
}

p, li {
  font-family: 'Computer Modern';
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  float: left;
  width: 400px;
  margin: 1em 1em 1em 1em;
  border: #EBCA68 solid 2px;
}

header {
  height: 200px;
  background-color: #ebe7d7;
}

header a {
  font-size: 3em;
  color: #605955;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  width:100%;
}